.nav-container {
  background-color: #272727;
  width: 100%;
  padding: 30px;
}

.items-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ul-items {
  display: flex;
  padding: 10px;
}

.li-items {
  list-style-type: none;
  margin: 5px;
  color: #ffffff;
  font-weight: bold;
}

.logout-btn {
  color: #ffffff;
  font-family: 'Roboto';
  background-color: #4f46e5;
  border: none;
  height: 40px;
  width: 100px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}
